<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="style.css">

 <style>

   body {background-color: #F0FFFF;
      color: #6C0CE8;
      font-family: serif;
      font-size: 30px;
      text-align: center;
      text-indent: 25px;}

    p: font-family {
       first-letter: 30px;3

    }  

	h1 {color: #fff;
	      font-family: sans-serif;
	      font-size: 50px;
	     }

    hr {border-color: #FFFFA8;}
 
    #content {
        width: 700px;
        margin: 0 auto;
    }

 </style>

 <title>Week 3 - CSS Practice</title>

</head>

<body>
 <div id="content">

    <h1>My First CSS Styled Page</h1>
    <hr />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et arcu ultricies, vehicula urna ut, lacinia metus. Aenean ac ante odio. Nullam mollis scelerisque urna, eget interdum velit posuere vel. Nullam eu leo ac ipsum tristique scelerisque. Nullam lobortis consequat arcu, id maximus erat sagittis eget.
    </p>
  </div>
</body>

</html>

-----------------------------
<!DOCTYPE html>
<html>


<head>
  <title>Week 4 - Positioning</title>
  <style>

#boxes{
       width:800px;
       height:600px;
       position:absolute;
       top:100px;
       left:50px;

}


.box { 
      width: 300px;
      height: 300px;
      border: 2px solid black;
      margin-bottom: 20px;
}

#red {
      background-color: red;
      top:50px;
      bottom:10px;
      z-index: 105;

}

 #green {
         background-color: green;
         position: relative;

 }


#blue {
      background-color: blue;
      position: fixed;
      top:20px;
      left:20px;
      z-index: 100;



}

  </style>
</head>
<body>
  <div id="position">
    <h1>How to Position</h1>
    <div id="boxes">
    <div class="box" id="red"> </div>
    <div class="box" id="green"> </div>
    <div class="box" id="blue"> </div>
  </div>
  </div>
</body>
</html>


  h1 {color: #000000;
        font-family: sans-serif;
        font-size: 30px;
       }

    hr {border-color: #FFFFA8;}