/*this is my style sheet
website: site name v.1;
author: rai;*/

 body {background-color: #ff530D;
      color: #6C0CE8;
      font-family: serif;
      font-size: 30px;
      text-align: center;
      text-indent: 25px;}
